/* Set variables here */

/* Toolbar */
#ToolBar {
  margin-bottom: 0px !important;
}

/* we want to make sure the first set of menus is almost flush to the left */
#ToolBar DIV:first-child{
  margin-left: 0px;
  padding-left: 0px;
}

.-wgp-fixed-top{
  top: 0;
  position: fixed;
  padding-bottom: 20px;
  width: 100%;
}