/* Set variables here */
@backgroundColor: #000000;
@textColor: #ffffff;

/* Toolbar */
#ToolBar {
  background-color: @backgroundColor;
  border: none;
  border-radius: 0px !important;
  color: @textColor;
}