/* Set variables here */
@backgroundColor: #B3D4FC;
@textColor: #ffffff;
@paddingTop: .35em;

#Tray {
  background-color: @backgroundColor;
  border: 0px none;
  box-shadow: 0px 3px 10px #808080;
  height: 10px;
  min-height: 2em;
}

#Tray div:first-child{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#Tray ul.left{
   padding-top: @paddingTop;
   position: relative;
   left: .4em; 
}

#Tray ul.right{
   padding-top: @paddingTop;
   padding-right: 0px;
   position: absolute;
   right: .4em;
}

#Tray a{
  padding: 0px;
  padding-left: 1em;
  margin: 0px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
}
